In [25]:
import pandas as pd

d = eval(open('fileout.out').read())

In [26]:
d['2011-01-14']

{'3_bonus_prize': 20,
 '3_bonus_winners': 104145,
 u'3_winners': 948444,
 u'4_prize': 20,
 u'4_winners': 110069,
 u'5_prize': 112,
 u'5_winners': 5137,
 '6_bonus_prize': 231068,
 '6_bonus_winners': 2,
 u'6_prize': 5373,
 u'6_winners': 86,
 u'7_prize': 32608919,
 u'7_winners': 0,
 'jackpot': 32608919,
 'millions': 0,
 'sales': 7547489}

In [27]:
df = pd.DataFrame.from_dict(d).T

In [55]:
import matplotlib.pyplot as plt

plt.subplot(111)
plt.scatter(df['jackpot']/1000000, df['sales']/1000000, s=150, 
            c=df['test2'].tolist(), cmap='jet', alpha=0.5)

plt.show()

In [29]:
df[df['sales']>20000000]

,3_bonus_prize,3_bonus_winners,3_winners,4_prize,4_winners,5_prize,5_winners,6_bonus_prize,6_bonus_winners,6_prize,6_winners,7_prize,7_winners,jackpot,millions,sales
2010-06-18,20,319247,3065240,20,346200,126,15445,409012,6,6548,238,50000000,0,95000000,45,24844183
2010-06-25,20,323275,3053904,20,343838,129,15141,289654,6,6136,256,25000000,2,74000000,49,24976698

In [42]:
df['testo'] = df.index

In [45]:

df['test2'] = df['testo'].apply(lambda x: (int(x[0:4]) - 2009) / 6.0)

In [46]:
df['test2']

2009-09-25    0.000000
2009-10-02    0.000000
2009-10-09    0.000000
2009-10-16    0.000000
2009-10-23    0.000000
2009-10-30    0.000000
2009-11-06    0.000000
2009-11-13    0.000000
2009-11-20    0.000000
2009-11-27    0.000000
2009-12-04    0.000000
2009-12-11    0.000000
2009-12-18    0.000000
2009-12-25    0.000000
2010-01-01    0.166667
...
2015-03-27    1
2015-04-03    1
2015-04-10    1
2015-04-17    1
2015-04-24    1
2015-05-01    1
2015-05-08    1
2015-05-15    1
2015-05-22    1
2015-05-29    1
2015-06-05    1
2015-06-12    1
2015-06-19    1
2015-06-26    1
2015-07-03    1
Name: test2, Length: 302, dtype: float64

In [62]:
#Setup
annual_i = 0.025
years = 35
per_week = 1000

#Calculated
periods = years * 52
i = (1 + annual_i) ** (1.0/52.0)  - 1

pv = per_week * (1-(1+i) ** -periods) / i
print pv

1218241.3292